@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:display=swap');

:root {
  --heading: 'Poppins', sans-serif;
  --normal: 'Roboto', sans-serif;
  --border: lightgray;
  --text: #282C35;
  --primary: orange;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--normal);
  color: var(--text);
  overflow-x: hidden;
}

a {
  color: var(--text);
}

a:hover {
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  font-weight: 800;
}

textarea:focus,
input[type]:focus {
  outline: none !important;
  box-shadow: none;
  border-color: var(--border);
}

header {
  border-bottom: 1px solid var(--border);
  padding: 20px 0;
}

header .input-group-text {
  border: none;
  border-left: 1px solid var(--border);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  background: none;
}

header .form-control {
  border: none;
  border-right: 1px solid var(--border);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

header .input-group-text,
.form-control {
  border-radius: 50px;
}

header .input-group-text i {
  font-size: small;
  color: var(--border);
}

header .fab {
  padding-right: 25px;
}

.header-social-icons {
  text-align: left;
}

header .col-md-5,
header .col-md-4 {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .header-social-icons {
    text-align: center;
  }

  header .col-md-5 {
    order: 2;
    padding-bottom: 0;
  }

  header .col-md-3 {
    order: 1;
  }

  header .col-md-4 {
    order: 3;
    padding-bottom: 0;
  }
}

.menu-icon:hover {
  cursor: pointer;
  color: var(--primary);
}

nav {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  z-index: 9999;
  background-color: white;
  box-shadow: -5px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -5px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s 0s ease-in-out;
  -moz-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
}

nav .fa-times {
  font-size: xx-large;
  padding-right: 10px;
  cursor: pointer;
}

nav .fa-times:hover {
  color: var(--primary);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
  text-align: left;
}

nav li {
  margin-bottom: 10px;
  font-family: var(--heading);
}

nav ul .active {
  color: var(--primary);
}

nav li:hover {
  cursor: pointer;
  color: var(--primary);
}